.container {
	margin: 0 auto;
	text-align: center;
}
.heading {
	color: #ff9801;
}

body {
	background: #01ff91;
	font-family: Helvetica;
	width: 100%;
}

#burger-image {
	height: 150px;
	margin-bottom: -20px;
}

#burginput {
	height: 30px;
	width: 280px;
	font-size: 14px;
	padding-top: 2%;
	margin: 0 auto;
	text-align: center;
}


.burgerdiv {
	display: block;
	width: 450px;
	margin: 0 auto;
}

#burgdevouring, #burgdevoured {
	list-style: none;
}


#burgdevouring li, #burgdevoured li {
	background-color: #eae7de;
	border: 1px solid #d6d5d4;
	padding: 0 10px;
	font-size: 14px;
	text-align: left;
	text-transform: capitalize;
}

#burgdevoured li {
	width: 290px;
}

.devour {
	float: right;
	margin-left: 15px;
	cursor: pointer;
}

.devour:hover {
	background-color: #c91e1e;
	color: #fff;
	border-radius: 5px;
	margin-top: -2px;
}

#addburger {
	height: 40px;
	width: 120px;
	background-color: #c91e1e;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
}

